

.fretboard {
    position: relative;
}
.tuning, .fretnum {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-transform: uppercase;
}
.tuning {
    left: 4px;
    font-size: 10px;
}
.fretnum {
    font-size: 8px;
}

.note-text {
  font-size: 10px;
  font-family: Sans-Serif;
  user-select: none;
}

.cpanel div {
  margin-right: 15px;
}

.playerButton {
  cursor: pointer;
}

.playerButton {
  padding: 0.5rem 0;
  width: calc(80% - 1rem);
  max-width: 200px;
  /*
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
          */
  border: none;
  text-align: center;
  background: #fb0;
  font-size: 1.2rem;
  color: white;
  display: inline-block;
  /* margin: 1rem auto; */
  border-radius: 4px;
  border: 4px solid #f5b400;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin-right: 20px;
}
.playerButton .pause {
  display: none;
}
.playerButton.active {
  background: #222;
  border-color: #000;
}
.playerButton.active .pause {
  display: block;
}
.playerButton.active .play {
  display: none;
}
