
body {
  font-family: Sans-Serif;
  margin-left: 1%;
  margin-right: 1%;
}


label, select {
  margin-right:5px;
}

.inline {
  display: inline-block;
}


.hidden {
  display:none;
}

#modepanel div {
  margin-right: 15px;
}
